@font-face {
    font-family: Montserrat;
    src: url("/font/Montserrat.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    color: #fff;
}

.backgroundColorChangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
}

h1 {
    color: #fff;
}

#changeColorButton {
    width: 10em;
    height: 2em;
    border-radius: 10px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
}

#changeColorButton:hover {
    border: 1px solid #fff;
}